* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
.nohighlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}
body {
  background: ghostwhite;
  min-width: 350px;
  overflow-x: hidden;
}
#nav {
  width: 100%;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  border-bottom: 2px solid black;
  top: 0;
  align-items: center;
  height: 80px;
  box-shadow: 0 0.25rem 20px 0.5px #333;
}
/* appended hr */
.hr-class {
  width: 5%;
  text-align: center;
  background: #fff;
  position: absolute;
  animation: wideout 0.75s ease-out forwards;
}
/* hr keyframe */
@keyframes wideout {
  from {
    width: 5%;
  }
  to {
    width: 78%;
  }
}
.nav-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.nav-list-item {
  margin: 1rem auto;
  /* border: 2px solid purple; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  font-size: 18px;
  position: relative;
}

.nav-list-item > a:hover {
  color: ghostwhite;
  background: #333;
  cursor: pointer;
}
.nav-list-item > a {
  color: #000;
  transition: 0.25s;
  padding: 0 1.25rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
/* #wrapper{
  border:3px solid green;
  margin:0 .5rem;
} */

#banner-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  /* border:2px solid green; */
  gap: 2rem;
  transform: scale(1.15);
  padding: 0.5rem;
}
#banner,
#info {
  margin-left: 0.75rem;
}
#banner {
  display: flex;
  align-items: end;
  justify-items: end;
  gap: 0.5rem;
  margin-bottom: 1.25rem;
  width: 100%;
  flex-wrap: wrap;
}
.info-para {
  line-height: 1.5rem;
  font-size: 14px;
}
#info-hooks {
  /* bordeR:2px solid orange; */
  display: flex;
  margin-top: 1.5rem;
  gap: 2rem;
}
.info-container > i {
  font-size: 26px;
}
.info-container {
  gap: 0.15rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-bottom: 2rem;
}
#banner-title {
  font-family: "Poiret One", sans-serif !important;
  font-weight: 600;
  font-size: 65px;
  font-style: normal;
}
#llc {
  font-family: "Poiret One", sans-serif !important;
  font-weight: bold;
}
#logo {
  position: absolute;
  top: 5px;
  left: 25px;
  z-index:999;
}
.user-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.25rem;
  background: ghostwhite;
  overflow: hidden;
}
#login,
#signup {
  border: none;
  height: 100%;
  width: 100%;
  transition: 0.25s;
  padding: 0.5rem;
  font-size: 16px;
  background: transparent;
  z-index: 998;
  color:#000;
}
#login:hover,
#signup:hover {
  background: #333;
  color: #fff;
  cursor: pointer;
}
#login {
  border-bottom: 0.5px solid #000;
}
#submit {
  border-top: 0.5px solid #000;
}

/* sections */
#main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* image container */
#header-img,
#header {
  height: 100%;
  width: 100%;
}
#header-img {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#img {
  width: 88%;
  box-shadow: 0 0 8px 0.9px #333;
}

/* container header */
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* call to action */
.cta-btn {
  margin-top: 1.5rem;
  border: none;
  font-size: 18px;
  text-align: center;
  background: #333;
  color: #fff;
  padding: 0.5rem;
  margin-left: 2rem;
  transition: 0.25s;
  box-shadow: 0 0.15rem 8px 0.9px #333;
}
.cta-btn:hover {
  background: #fff;
  color: #333;
  cursor: pointer;
}

#mob-button-container {
  display: none;
}
.no-pointer {
  pointer-events: none;
}
#mob-wrapper{
  display:none;
}
.invert-env{
  background:#000;
}
@media screen and (max-width: 989px) {
  
  #mob-button-container {
    display: block;
    /* border-bottom: 2px solid #333; */
    width: 100%;
    height: 55px;
    position: fixed;
    top: 10px;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    z-index: 998;
  }
  #mob-wrapper{
    border-bottom:2px solid black;
    height:67px;
    position:fixed;
    top:0;
    left:0;
    transition: .25s;
    width:100%;
    display:Block;
  }
  .spawn-hr{
    width:75%;
    margin:0 auto;
    text-align: center;
    border:2px solid rgb(0, 0, 0);
    border-radius: 0 12px;
    position: absolute;
    bottom:.5px;
    
  }
  #span-container {
    width: 50px;
    height: 50px;
    display: flex;
    position:fixed;
    right:0;
    top:10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 1rem 0 0;
    z-index: 999;
    cursor:pointer;
  }
  .mob-span {
    height: 6px;
    width: 75%;
    background: #000;
    transition: 0.75s;
  }
  .invert-span{
    background:#fff;
  }
  .top-span {
    transform: translate(0, 13.5px) rotate(45deg);
  }
  .bottom-span {
    transform: translate(0, -15px) rotate(-45deg);
  }
  .mid-span {
    opacity: 0;
    transform: translate(0, -5px) rotate(360deg);
  }
  #banner-title {
    font-size:35px;
  }
  
  .toggle-mob {
    animation: flip 0.25s forwards;
  }
  body {
    overflow-x: hidden;
  }
  #banner-container {
    transform: scale(1);
    gap: 0.5rem;
    margin-top: 2.75rem;
  }
  #nav {
    border: 2px solid rgb(67, 198, 255);
    transition: 0.75s;
    width:245px;
    height: 300px;
    z-index: 997;
    background: ghostwhite;
    overflow: hidden;
  }

  .bye-nav {
    right: -100%;
  }
  .hi-nav {
    right: 0;
  }
  .nav-list-container {
    flex-direction: column;
    justify-content: center;
    gap: .25rem;
    margin-top:2rem;
  }
  .nav-list-item > a {
    width: 165px;
    position:relative;
  }
  #login,
  #signup,
  .nav-list-item {
    margin: unset;
    height: 50px;
  }
  .user-container {
    justify-content: end;
  }

  #logo {
    position: fixed;
    height: 55px;
    transition:.25s;
    width: 60px;
    top: 5px;
    left: 8px;
  }
  .invert-logo{
    background:#fff;
  }
  .nav-list-item > a,
  #login,#signup{
    transition: unset;
  }
  .nav-list-item > a:hover,
  #login:hover,#signup:hover {
    color: #000;
    background: transparent;
  }
  .nav-list-item > a:active,
  #login:active,#signup:active {
    color: ghostwhite;
    background: #333;
    cursor: pointer;
  }
  .cta-btn {
    transition: unset;
  }
  .cta-btn:hover {
    color:#fff;
    background:#333;
  }
  .cta-btn:active {
    color:#333;
    background:#fff;
  }
}
@media screen and (max-width: 800px) {
  #main {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  #img {
    max-width: 400px;
    min-width: 250px;
  }
  .cta-btn {
    margin-top: unset;
  }
}
